@page "/manage/cafedra/{Id:int?}"

@using System.ComponentModel.DataAnnotations
@using System.IO
@using System.Net.Http.Headers
@inject NavigationManager NavManager
@attribute [Authorize(Roles = "admin, manager")]

<EditForm Model="Model" OnValidSubmit="Success">
    <DataAnnotationsValidator />
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
            @Title
        </div>
        <MatDivider />
        <br/>
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    <p>
                        <MatTextField Label="@nameof(Model.Name)" @bind-Value="Model.Name" />
                        <ValidationMessage For="@(() => Model.Name)" />
                    </p>
                    <p>
                        <MatTextField Label="@nameof(Model.Description)" @bind-Value="Model.Description" />
                        <ValidationMessage For="@(() => Model.Description)" />
                    </p>
                    <p>
                        <MatTextField Label="@nameof(Model.Phone)" @bind-Value="Model.Phone" />
                        <ValidationMessage For="@(() => Model.Phone)" />
                    </p>
                </div>

                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    <MatButton Type="submit" Raised="true">Send</MatButton>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                </div>
            </div>
        </div>
    </div>
</EditForm>