@page "/Cafedras"

@using ElectronicDepartment.Web.Client.Services
@using ElectronicDepartment.Web.Shared
@using ElectronicDepartment.Web.Shared.Cafedra.Responce
@using ElectronicDepartment.Web.Shared.Common
@using static ElectronicDepartment.Web.Shared.CafedraController
@inject NavigationManager NavigationManager

<div class="mat-layout-grid-inner">
    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
        <h3>CafedraTable</h3>
    </div>
    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
    </div>
    <AuthorizeView Roles="teacher, admin, manager">
    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
        <MatButton OnClick="@(item => NavigationManager.NavigateTo($"/manage/Cafedra/"))" Icon="create_new_folder" style="display: flex; justify-content: flex-end">Add</MatButton>
    </div>
    </AuthorizeView>
</div>

<div>
    <p>
        <MatStringField Label="@FilterColumn" @oninput="@(async (ChangeEventArgs e) => await SerchingFieldChange(e.Value.ToString()))"></MatStringField>
    </p>
</div>

<MatTable Items="ApiResult.Data"
          class="mat-elevation-z5"
          UseSortHeaderRow="true"
          ShowPaging="false"
          @bind-PageSize="@Pagenator.PageSize">
    <MatTableHeader>
        <MatSortHeaderRow SortChanged="@SortData">
            <th>Action</th>
            <MatSortHeader SortId="Name">Name</MatSortHeader>
            <MatSortHeader SortId="Phone">Phone</MatSortHeader>
            <MatSortHeader SortId="Description">Description</MatSortHeader>
        </MatSortHeaderRow>
    </MatTableHeader>
    <MatTableRow>
        <td>
            <MatButton Raised="true" Icon="edit" title="Edit" OnClick="@(item => NavigationManager.NavigateTo($"/manage/Cafedra/{@context.Id}"))"></MatButton>
        </td>
        <td>@context.Name</td>
        <td>@context.Phone</td>
        <td>@context.Description</td>
    </MatTableRow>
</MatTable>

<MatPaginator Page="OnPage" @ref="matTablePagenator" @bind-Length="ApiResult.TotalCount">

</MatPaginator>

@code {
    private const string FilterColumn = nameof(GetCafedraViewModel.Name);
    MatPaginator matTablePagenator { get; set; } = null;

    [Inject]
    IHttpService HttpClient { get; set; }


    public GetApiBodyRequest Pagenator { get; set; } = new GetApiBodyRequest()
        {
            PageIndex = 0,
            PageSize = 5,
        };

    public ApiResultViewModel<GetCafedraViewModel> ApiResult { get; set; } = new ApiResultViewModel<GetCafedraViewModel>();

    public async Task GetData()
    {
        var result = await HttpClient.PostAsync("api/Cafedra/GetApiResponce", Pagenator);

        if (result.IsSuccessStatusCode)
        {
            ApiResult = await result.Content.ReadFromJsonAsync<ApiResultViewModel<GetCafedraViewModel>>();
        }
    }

    public async Task SortData(MatSortChangedEvent sort)
    {
        if (!(sort == null || sort.Direction == MatSortDirection.None || string.IsNullOrEmpty(sort.SortId)))
        {
            if (sort.Direction == MatSortDirection.Desc)
            {
                Pagenator.SortingRequests = new List<SortingRequest>()
                    {
                        new SortingRequest()
                        {
                            SortColumn = sort.SortId,
                            SortOrder = "DESC"
                        }
                    };
            }
            else
            {
                Pagenator.SortingRequests = new List<SortingRequest>()
                    {
                        new SortingRequest()
                        {
                            SortColumn = sort.SortId,
                            SortOrder = "ASC"
                        }
                    };
            }

            await GetData();
        }
    }

    private async Task OnPage(MatPaginatorPageEvent e)
    {
        Pagenator.PageIndex = e.PageIndex;
        Pagenator.PageSize = e.PageSize;
        await GetData();
    }

    private async Task SerchingFieldChange(string value)
    {
        Pagenator.FilterRequests = new List<FilterRequest>()
        {
            new FilterRequest()
            {
                FilterColumn = FilterColumn,
                FilterQuery = value,
                IsPartFilter = true
            }
        };

        await GetData();
    }

    protected override async Task OnInitializedAsync()
    {
        await GetData();
    }
}
