@page "/Groups"
@using ElectronicDepartment.Web.Client.Services
@using ElectronicDepartment.Web.Shared
@using ElectronicDepartment.Web.Shared.Common
@using ElectronicDepartment.Web.Shared.Group.Responce
@using static ElectronicDepartment.Web.Shared.CafedraController
@inject NavigationManager NavManager

<div class="mat-layout-grid-inner">
    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
        <h3>GroupTable</h3>
    </div>
    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
    </div>
    <AuthorizeView Roles="admin, manager">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
            <MatButton OnClick="@(item => NavManager.NavigateTo($"/manage/Group/"))" Icon="create_new_folder" style="display: flex; justify-content: flex-end">Add</MatButton>
        </div>
    </AuthorizeView>
</div>
<div>
    <p>
        <MatStringField Label="@FilterColumn" @oninput="@(async (ChangeEventArgs e) => await SerchingFieldChange(e.Value.ToString()))"></MatStringField>
    </p>
</div>

<MatTable Items="ApiResult.Data"
          class="mat-elevation-z5"
          UseSortHeaderRow="true"
          ShowPaging="false"
          @bind-PageSize="@Pagenator.PageSize">
    <MatTableHeader>
        <MatSortHeaderRow SortChanged="@SortData">
            <th>Action</th>
            <MatSortHeader SortId="Name">Name</MatSortHeader>
            <MatSortHeader SortId="CreatedAt">CreatedAt</MatSortHeader>
            <th>StudentCount</th>
        </MatSortHeaderRow>
    </MatTableHeader>
    <MatTableRow>
        <td>
            <MatButton Raised="true" Icon="edit" title="Edit" OnClick="@(item => NavManager.NavigateTo($"/manage/Group/{@context.Id}"))"></MatButton>
        </td>
        <td>@context.Name</td>
        <td>@context.CreatedAt</td>
        <td>@context.StudentCount</td>
    </MatTableRow>
</MatTable>
<MatPaginator PageSize="Pagenator.PageSize" Page="OnPage">

</MatPaginator>

@code {
    MatPaginator matTablePagenator { get; set; } = null;
    private const string FilterColumn = nameof(GetGroupViewModel.Name);

    [Inject]

    IHttpService HttpClient { get; set; }

    public GetApiBodyRequest Pagenator { get; set; } = new GetApiBodyRequest()
        {
            PageIndex = 0,
            PageSize = 1000,
        };

    public ApiResultViewModel<GetGroupViewModel> ApiResult { get; set; } = new ApiResultViewModel<GetGroupViewModel>();

    public async Task GetData()
    {
        var result = await HttpClient.PostAsync("api/Group/GetApiResponce", Pagenator);

        if (result.IsSuccessStatusCode)
        {
            ApiResult = await result.Content.ReadFromJsonAsync<ApiResultViewModel<GetGroupViewModel>>();
        }
    }

    public async Task SortData(MatSortChangedEvent sort)
    {
        if (!(sort == null || sort.Direction == MatSortDirection.None || string.IsNullOrEmpty(sort.SortId)))
        {
            if (sort.Direction == MatSortDirection.Desc)
            {
                Pagenator.SortingRequests = new List<SortingRequest>()
                    {
                        new SortingRequest()
                        {
                            SortColumn = sort.SortId,
                            SortOrder = "DESC"
                        }
                    };
            }
            else
            {
                Pagenator.SortingRequests = new List<SortingRequest>()
                    {
                        new SortingRequest()
                        {
                            SortColumn = sort.SortId,
                            SortOrder = "ASC"
                        }
                    };
            }

            await GetData();
        }
    }

    private async Task OnPage(MatPaginatorPageEvent e)
    {
        Pagenator.PageIndex = e.PageIndex;
        Pagenator.PageSize = e.PageSize;
        await GetData();
    }

    private async Task SerchingFieldChange(string value)
    {
        Pagenator.FilterRequests = new List<FilterRequest>()
        {
            new FilterRequest()
            {
                FilterColumn = FilterColumn,
                FilterQuery = value,
                IsPartFilter = true
            }
        };

        await GetData();
    }


    protected override async Task OnInitializedAsync()
    {
        await GetData();
    }
}
